body {
    margin-top: 105px;
}

.navbar-header {
    position: relative;
    top: -4px;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.icon {
    position: relative;
    top: -10px;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}

.page-consent {
    .client-logo {
        float: left;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .consent-buttons {
        margin-top: 25px;
    }

    .consent-form {
        .consent-scopecheck {
            display: inline-block;
            margin-right: 5px;
        }

        .consent-scopecheck[disabled] {
            //visibility:hidden;
        }

        .consent-description {
            margin-left: 25px;

            label {
                font-weight: normal;
            }
        }

        .consent-remember {
            padding-left: 16px;
        }
    }
}

.grants {
    .page-header {
        margin-bottom: 10px;
    }

    .grant {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;

        img {
            width: 100px;
            height: 100px;
        }

        .clientname {
            font-size: 140%;
            font-weight: bold;
        }

        .granttype {
            font-size: 120%;
            font-weight: bold;
        }

        .created {
            font-size: 120%;
            font-weight: bold;
        }

        .expires {
            font-size: 120%;
            font-weight: bold;
        }

        li {
            list-style-type: none;
            display: inline;

            &:after {
                content: ', ';
            }

            &:last-child:after {
                content: '';
            }

            .displayname {
            }
        }
    }
}

.main-menu {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2.58px 0.42px rgba(238, 238, 238, 0.004);
    display: block;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    margin: 0;
    border-bottom: 2px solid #ddd;
}

.navbar{
    min-height:105px;
}

.navbar-nav > li > a {
    padding-top: 60px;
    padding-bottom: 15px;
}

iframe{
    height: 100%;
}

.btn-form-group {
    margin-top: 24px;
}


.iframe-wrapper {
    position: relative;
    padding-bottom: 53%;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-page {
    margin-top: 70px;
}